<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itemlist" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" >
        <activity
            android:name=".swptan"
            android:exported="false" />
        <activity
            android:name=".swpgrey"
            android:exported="false" />
        <activity
            android:name=".hdgrey"
            android:exported="false" />
        <activity
            android:name=".hdtan"
            android:exported="false" />
        <activity
            android:name=".teenoel"
            android:exported="false" />
        <activity
            android:name=".teeden"
            android:exported="false" />
        <activity
            android:name=".teetan"
            android:exported="false" />
        <activity
            android:name=".DkyPage"
            android:exported="false" />
        <activity
            android:name=".viewflipper"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".listitem"
            android:exported="false" />
    </application>

</manifest>